html,body{
    height: 100%;
    margin: 0;
  }

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    border-radius: initial;
}

.europa-inner img {
    width: 100%;
}

.carousel-caption {
    top: 10%;
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-box {
    margin-bottom: 20px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2;
}

.panel-header {
    text-align: center;
    padding-top: 10px;
    height: 40px;
    background-color: #044a8e;
    color: #f5f5f5;
}

.img-box {
    text-align: center;
    margin-bottom: 10px;
}

.box-img {
    width: 100%;
}

.c-c-japan {
    margin-top: 50%;
}

#main-image {
    background-color: #fff;
}

footer {
    background: #044789;
    border-color: #044789;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 767px) {
    .c-c-japan {
        margin-top: 10%;
    }
}

@media screen and (max-width: 467px) {
    .c-c-japan {
        margin-top: 0%;
    }
    .carousel-caption {
        top: -10%;
    }
    h1 {
        font-size: 26px;
    }
}